#canvas{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  position: fixed;
  /*width: 100%;
  height: 100%;*/
}
#controls{
	position: fixed;
	z-index: 100;
	left: 50%;
	bottom: 0;
	transform: (-50%, 0);
}
